table, th, td {
    margin: 30px;
}
th,td {
    padding-left: 60px;
}
.btn1 {
    border:2px ;
    border-color: #3b6292;
    background-color: #4f81bd;
}
.searchDiv {
    display: flex;
    height: 35px; 
    margin-top:5%;
    margin-bottom:5%;
    width:100%;
}
select {
    float: right;
}

.label {
    margin-left: 0px;
}
.fillInfo {
    margin-right: 0px;
    margin-left: auto;
}
.btn1 {
    background:#4f81bd !important;
    border: 2px solid #385d8a !important;
    border-color: #385d8a !important;
}
.btn2 {
    background: #92b1d6 !important;
    color: white !important;
    border-radius: 0px !important;
    border-color: #385d8a;
}
