#notice {
    align-items: center;
    text-align: center;
    border: 2px solid blue;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: 400px;
}
